Library/il2cpp_android_arm64-v8a/il2cpp_cache/linkresult_47C1B066FA17E62E66F87607149BD00C/libil2cpp.sym.so
# https://drive.google.com/file/d/1-vcUsZdG3wa77JobaN4V2JNzZWHoWDFI/view?usp=sharing
Library/il2cpp_android_arm64-v8a/il2cpp_cache/linkresult_47C1B066FA17E62E66F87607149BD00C/libil2cpp.dbg.so
# https://drive.google.com/file/d/1YBqXeRE6QrN8DD8_Uwn2bz89gY9wm8PW/view?usp=sharing